* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  margin-top: 3em;
  margin-bottom: 60px;
  font-size: 1.6rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

blockquote {
  border-left: none;
}

.quote-box {
  overflow: hidden;
  width: auto;
  display: table;
  margin: 20px;
  padding: 20px;
  border-radius: 17px;
  background-color: #4adfcc;
  margin-top: 25px;
  color: white;
  box-shadow: 3px 3px 3px 3px #e0e0e0;
}

.quotation-mark {
  margin-top: -10px;
  font-weight: bold;
  font-size: 100px;
  color: white;
  font-family: "Times New Roman", Georgia, Serif;
}

.quote-text {
  font-size: 19px;
  margin-top: -65px;
}

.notification-container {
  font-size: 14px;
  box-sizing: border-box;
  position: fixed;
  z-index: 999999;
}

.top-right {
  top: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.bottom-right {
  bottom: 12px;
  right: 12px;
  transition: transform 0.6s ease-in-out;
  animation: toast-in-right 0.7s;
}

.top-left {
  top: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.bottom-left {
  bottom: 12px;
  left: 12px;
  transition: transform 0.6s ease-in;
  animation: toast-in-left 0.7s;
}

.notification {
  background: #fff;
  transition: 0.3s ease;
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 30px;
  margin-bottom: 15px;
  width: 300px;
  max-height: 100px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 10px #999;
  color: #000;
  opacity: 0.9;
  background-position: 15px;
  background-repeat: no-repeat;
}

.notification:hover {
  box-shadow: 0 0 12px #fff;
  opacity: 1;
  cursor: pointer;
}

.notification-title {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 6px;
  width: 300px;
  height: 18px;
}

.notification-image {
  float: left;
  margin-right: 15px;
}

.notification-image i {
  width: 30px;
  height: 30px;
}

.toast {
  height: 50px;
  width: 365px;
  color: #fff;
  padding: 20px 15px 10px 10px;
}

.notification-container button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-weight: 700;
  color: #fff;
  outline: none;
  border: none;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.8;
  line-height: 1;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* PRODUCT COMPONENT */
#buyButton {
  float: right;
}

/* ACCOUNT VIEW */
.container_account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: inherit;
}

/* LOGIN VIEW */
.container_login {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  align-items: center;
  width: 100%;
  background-color: inherit;
}

.login_form {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60rem;
  max-height: 30rem;
  border-radius: 8px;
  padding: 2rem 3rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.login_form__label {
  text-transform: capitalize;
  font-size: 1.8rem;
  opacity: 0.7;
}

.login_form__input {
  border: 0.1rem rgba(0, 0, 0, 0.1) solid;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.login_form__input:focus,
.login_form__submit:focus {
  outline: none;
}

.login_form__submit {
  padding: 1.6rem 3rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(120, 180, 120);
  color: white;
  margin-top: 1.4rem;
}

.login_form__submit:hover {
  transform: scale(1.01) translateY(-1px);
  transition: all 0.2s ease-in;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.login_form__submit:active {
  transform: scale(0.99) translateY(1px);
}

.login_form__info {
  font-size: 1.4rem;
  margin-top: 0.3rem;
}

.login_form__info a {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(120, 180, 120);
}

/* REGISTER VIEW */
.container_outer {
  margin: 0 auto;
  width: 100rem;
  height: 100%;
  min-height: 80vh;
}

.logo_image {
  border-radius: 8px;
  width: 30rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.text_below_logo {
  margin-top: 2rem;
  text-align: center;
}

.container_logo {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.logo_and_text {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.container_register {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.register_form {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
  max-height: 80rem;
  border-radius: 8px;
  padding: 2rem 3rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.register_form__label {
  text-transform: capitalize;
  font-size: 1.8rem;
  opacity: 0.7;
}

.register_form__input {
  border: 0.1rem rgba(0, 0, 0, 0.1) solid;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.register_form__input:focus,
.login_form__submit:focus {
  outline: none;
}

.register_form__submit {
  padding: 1.6rem 3rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(120, 180, 120);
  color: white;
  margin-top: 1.4rem;
}

.register_form__submit:hover {
  transform: scale(1.01) translateY(-1px);
  transition: all 0.2s ease-in;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.register_form__submit:active {
  transform: scale(0.99) translateY(1px);
}

.register_form__info {
  font-size: 1.4rem;
  margin-top: 0.3rem;
}

.register_form__info a {
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(120, 180, 120);
}

/* SEARCH COMPONENT */
.searchBar {
  width: 100%;
}

.input-group {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: table;
  border-collapse: separate;
}

.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 1.6rem;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}

.cart_navigation_container {
  background-color: rgb(250, 250, 250);
  width: 60rem;
  max-height: 30rem;
  border-radius: 8px;
  padding: 2rem 3rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.cart_container {
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
  padding: 2rem 3rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
}

.cart_delete_btn {
  border-radius: 5px;
  border: unset;
  background-color: inherit;
}

/* CATEGORIES */
.categories_box {
	float:left; 
	border-radius: 25px;
    border: 2px solid #ccc;
	width:20%;
	height:100vh;
	background: #D0D0D0;
}

.categories_title {
	text-align: center;
	font-size: 30px;
	border-bottom: 2px solid black;
	margin-left: 10px;
	margin-right: 10px;
}

.categories_checkboxes {
	margin: 10px;
}

.categories_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.categories_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.categories_checkmark {
  position: absolute;
  margin-top: 5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.categories_container:hover input ~ .categories_checkmark {
  background-color: #ccc;
}

.categories_container input:checked ~ .categories_checkmark {
  background-color: #2196F3;
}

.categories_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.categories_container input:checked ~ .categories_checkmark:after {
  display: block;
}

.categories_container .categories_checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* HISTORY */
.history_orders {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

.history_item_date {
  text-align: center;
  margin: auto;
}

.history_item_price {
  margin-left: 20px;
}
